<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/base.css" type="text/css"/>
    <link rel="stylesheet" href="../static/header.css" type="text/css"/>
    <link rel="stylesheet" href="../static/footer.css" type="text/css"/>
    {% block styles %}{% endblock %}
</head>
<body>
<div class="header">
    <ul class="primary menu">
        <li><a class="menu-item" href="/top_genres">Топ жанров</a></li>
        <li><a class="menu-item" href="/content_based" style="font-size:32px">Content-based рекомендация</a></li>
        <li><a class="menu-item" href="/collaborative" style="font-size:32px">Коллаборативная рекомендация</a></li>
        <li><a class="menu-item" href="/top_books">Топ 20 книг</a></li>
    </ul>
</div>
{% block content %}{% endblock %}
<div class="footer ">
    <div class="footer-text">
        <div>Рекомендательная система по подбору книг © 2020</div>
    </div>
</div>
</body>
</html>

